<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <title>Machine Learning Game of life</title>
</head>
<body>
    <h2 align = "center">Machine Learning Game of life</h2>
    <div class = "board">
        {% for i in range (0,400) %}
             <div class = "cell{{list_of_cells[i]}}"></div>       
             {% if i % 20 == 19 %}
                <br>
             {% endif %}
        {% endfor %}
    </div>
    <button id = "evolvebtn" >evolve</button>
</body>
<script>
    var btn = document.getElementById('evolvebtn');
    btn.onclick = () => {
        window.location.href = 'evolve';
    }   
</script>
</html>