<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <title>Machine Learning Game of life</title>
</head>
<body>
    <h2 align = "center">Machine Learning Game of life</h2>
    <div class = "board">
        <h1>prediction</h1>
        {% for i in range (0,400) %}
            {% if i in diffs %}
            <div class = "cell{{predicted[i]}}" style = "outline:5px solid red;"></div>
            {% else %}
            <div class = "cell{{predicted[i]}}"></div>
            {% endif %}   
             {% if i % 20 == 19 %}
                <br>
             {% endif %}
        {% endfor %}
        <br>
        <h1>start board</h1>
        {% for i in range (0,400) %}
            <div class = "cell{{start[i]}}"></div>
            {% if i % 20 == 19 %}
            <br>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>