<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <title>Machine Learning Game of life</title>
</head>
<body>
    <h2 align = "center">Machine Learning Game of life</h2>
    <div class="final">
        <div class="board">
            <h1>start board</h1>
            {% for i in range (0,400) %}
                <div class = "cell{{start[i]}}"></div>
                {% if i % 20 == 19 %}
                <br>
                {% endif %}
            {% endfor %}
            <h1>MLP classifier prediciton</h1>
            {% for i in range (0,400) %}
                {% if i in diffs[0] %}
                <div class = "cell{{predicted[i]}}" style = "outline:5px solid red;"></div>
                {% else %}
                <div class = "cell{{predicted[i]}}"></div>
                {% endif %}   
                {% if i % 20 == 19 %}
                    <br>
                {% endif %}
            {% endfor %}
            <h1>K-neigbors classifier prediciton</h1>
            {% for i in range (0,400) %}
                {% if i in diffs[2] %}
                <div class = "cell{{predicted2[i]}}" style = "outline:5px solid red;"></div>
                {% else %}
                <div class = "cell{{predicted2[i]}}"></div>
                {% endif %}   
                {% if i % 20 == 19 %}
                    <br>
                {% endif %}
            {% endfor %}
            <h1>iterative model prediciton</h1>
            {% for i in range (0,400) %}
                {% if i in diffs[4] %}
                <div class = "cell{{predicted3[i]}}" style = "outline:5px solid red;"></div>
                {% else %}
                <div class = "cell{{predicted3[i]}}"></div>
                {% endif %}   
                {% if i % 20 == 19 %}
                    <br>
                {% endif %}
            {% endfor %}
        </div>
        <div class="board">
            <h1>evolution of start board</h1>
            {% for i in range (0,400) %}
                <div class = "cell{{end_board[i]}}"></div>
                {% if i % 20 == 19 %}
                <br>
                {% endif %}
            {% endfor %}
            <h1>evolution of MLP classifier prediction</h1>
            {% for i in range (0,400) %}
                {% if i in diffs[1] %}
                <div class = "cell{{prediction_evolution[i]}}" style = "outline:5px solid red;"></div>
                {% else %}
                <div class = "cell{{prediction_evolution[i]}}"></div>
                {% endif %}   
                {% if i % 20 == 19 %}
                    <br>
                {% endif %}
            {% endfor %}
            <h1>evolution of K-neighbors classifier prediction</h1>
            {% for i in range (0,400) %}
                {% if i in diffs[3] %}
                <div class = "cell{{prediction_evolution2[i]}}" style = "outline:5px solid red;"></div>
                {% else %}
                <div class = "cell{{prediction_evolution2[i]}}"></div>
                {% endif %}   
                {% if i % 20 == 19 %}
                    <br>
                {% endif %}
            {% endfor %}
            <h1>evolution of iterative model prediction</h1>
            {% for i in range (0,400) %}
                {% if i in diffs[5] %}
                <div class = "cell{{prediction_evolution3[i]}}" style = "outline:5px solid red;"></div>
                {% else %}
                <div class = "cell{{prediction_evolution3[i]}}"></div>
                {% endif %}   
                {% if i % 20 == 19 %}
                    <br>
                {% endif %}
            {% endfor %}
        </div>
        <div style="margin-left: auto; margin-right: auto;">
            <h1>Summary</h1>
            <h3>F1-Score for Positive Class = 1 for MLP classifier: {{ acc1[0]|round(4) }}</h3>
            <h3>F1-Score for Positive Class = 0 for MLP classifier: {{ acc1[1]|round(4) }}</h3>
            <h3>MCC for Positive Class = 1 for MLP classifier: {{ acc1[2]|round(4) }}</h3>
            <h3>MCC for Positive Class = 0 for MLP classifier: {{ acc1[3]|round(4) }}</h3>
            <hr>
            <h3>F1-Score for Positive Class = 1 for K-neigbors classifier: {{ acc2[0]|round(4) }}</h3>
            <h3>F1-Score for Positive Class = 0 for K-neigbors classifier: {{ acc2[1]|round(4) }}</h3>
            <h3>MCC for Positive Class = 1 for K-neigbors classifier: {{ acc2[2]|round(4) }}</h3>
            <h3>MCC for Positive Class = 0 for K-neigbors classifier: {{ acc2[3]|round(4) }}</h3>
            <hr>
            <h3>F1-Score for Positive Class = 1 for iterative model: {{ acc3[0]|round(4) }}</h3>
            <h3>F1-Score for Positive Class = 0 for iterative model: {{ acc3[1]|round(4) }}</h3>
            <h3>MCC for Positive Class = 1 for iterative model: {{ acc3[2]|round(4) }}</h3>
            <h3>MCC for Positive Class = 0 for iterative model: {{ acc3[3]|round(4) }}</h3>
        </div>
        

    </div>
</body>
</html>